.footer-container {
  background-color: #fcdc36;
  bottom: 0;
  display: flex;
  height: 40px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  width: 100%;
}

.footer-container button {
  background-color: #fcdc36;
}
