* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

form input {
  border: 1px solid cornflowerblue;
  border-radius: 20px;
  font-size: 12px;
  min-width: 250px;
  padding: 5px;
}

form button {
  background-color: #fcc436;
  border: 1px solid cornflowerblue;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 20px;
  width: 100%;
}

form h1 {
  display: flex;
  font-size: 25px;
  justify-content: center;
}

.logoRecipes img {
  padding-top: 10px;
  width: 250px;
}

.form-container {
  display: flex;
  justify-content: space-around;
}
